# Server config
PORT=3000

# matchMaker config
STARTING_RETRIES = 3
POTENTIAL_OPONENT_TIMER = 5000
RETRY_TIMER = 5000
MAX_ELO_DIFERENCE = 45

# gameManager config
ROUNDS_PER_GAME = 3
TIME_PER_ROUND = 5
TIME_BETWEEN_ROUNDS = 3000
#must be set to either yes or no
MUST_SIMULATE_MATCH = no

#bot config
WAIT_BETWEEN_MATCHES = 1000